tests/*.vmx
.venv
.vscode

src/**/__pycache__

# Logs
*.log



# Don't include build directories
build
dist


# Don't include any maps etc
*_precompiled.*
*.bsp
*.prt
*.lin

# Compiled modules
*.pyd
*.pyi
